@function responsive-value($resolution, $base-value) {
	$base-resolution: 1536;
	$ratio: $resolution / $base-resolution;
	$value: $base-value / 16;
	$responsive-value: $value * $ratio;
	@return #{$responsive-value}rem;
}

.card {
	position: relative;

	width: 100%;
	padding: 49px 160px 49px 43px;
	max-height: 132px;

	background: var(--card-gradient);
	border: 1px solid var(--gray-400);
	border-radius: 5px;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;

	box-shadow: 0px 4px 26px rgba(65, 47, 184, 0.65);
	border: 3px solid var(--violet-700);

	& + & {
		box-shadow: none;
		border: 0;
	}

	@media (max-width: 1024px) {
		padding: responsive-value(1024, 49) responsive-value(1024, 160) responsive-value(1024, 49) responsive-value(1024, 43);
		max-height: responsive-value(1024, 132);
	}

	@media (max-width: 768px) {
		padding: responsive-value(768, 49) responsive-value(768, 160) responsive-value(768, 49) responsive-value(768, 43);
		max-height: responsive-value(768, 132);
	}

	@media (max-width: 426px) {
		padding: responsive-value(425, 49) responsive-value(425, 160) responsive-value(425, 49) responsive-value(425, 43);
		max-height: responsive-value(425, 132);
	}
	@media (max-width: 375px) {
		padding: responsive-value(375, 49) responsive-value(375, 160) responsive-value(375, 49) responsive-value(375, 43);
		max-height: responsive-value(375, 132);
	}
	@media (max-width: 320px) {
		padding: responsive-value(320, 49) responsive-value(320, 160) responsive-value(320, 49) responsive-value(320, 43);
		max-height: responsive-value(320, 132);
	}
}

.movieName {
	font-weight: 700;
	font-size: 28px;
	line-height: 33px;
	color: var(--white);

	@media (max-width: 1024px) {
		font-size: responsive-value(1024, 28);
		line-height: responsive-value(1024, 33);
	}

	@media (max-width: 768px) {
		font-size: responsive-value(768, 28);
		line-height: responsive-value(768, 33);
	}

	@media (max-width: 426px) {
		font-size: responsive-value(425, 28);
		line-height: responsive-value(425, 33);
	}
	@media (max-width: 375px) {
		font-size: responsive-value(375, 28);
		line-height: responsive-value(375, 33);
	}
	@media (max-width: 320px) {
		font-size: responsive-value(320, 28);
		line-height: responsive-value(320, 33);
	}
}

.movieEmoji {
	font-weight: 700;
	font-size: 48px;
	line-height: 33px;

	@media (max-width: 1024px) {
		font-size: responsive-value(1024, 48);
		line-height: responsive-value(1024, 33);
	}

	@media (max-width: 768px) {
		font-size: responsive-value(768, 48);
		line-height: responsive-value(768, 33);
	}

	@media (max-width: 426px) {
		font-size: responsive-value(425, 48);
		line-height: responsive-value(425, 33);
	}
	@media (max-width: 375px) {
		font-size: responsive-value(375, 48);
		line-height: responsive-value(375, 33);
	}
	@media (max-width: 320px) {
		font-size: responsive-value(320, 48);
		line-height: responsive-value(320, 33);
	}
}

.copyEmoji {
	position: absolute;
	right: 0;

	display: flex;
	align-items: center;
	justify-content: center;
	padding: 44px 25px;

	border: 0;
	border-left: 1px solid var(--gray-400);
	background: transparent;
	color: var(--white);

	cursor: pointer;

	&:hover {
		svg {
			transition: color 0.2s;
			color: var(--violet-300);
		}
	}

	@media (max-width: 1024px) {
		padding: responsive-value(1024, 44) responsive-value(1024, 25);
		line-height: responsive-value(1024, 33);

		svg {
			width: responsive-value(1024, 24);
			height: responsive-value(1024, 24);
		}
	}

	@media (max-width: 768px) {
		padding: responsive-value(768, 44) responsive-value(768, 25);
		line-height: responsive-value(768, 33);

		svg {
			width: responsive-value(768, 24);
			height: responsive-value(768, 24);
		}
	}

	@media (max-width: 426px) {
		padding: responsive-value(425, 44) responsive-value(425, 25);
		line-height: responsive-value(425, 33);

		svg {
			width: responsive-value(425, 24);
			height: responsive-value(425, 24);
		}
	}

	@media (max-width: 375px) {
		padding: responsive-value(375, 44) responsive-value(375, 25);
		line-height: responsive-value(375, 33);

		svg {
			width: responsive-value(375, 24);
			height: responsive-value(375, 24);
		}
	}
	
	@media (max-width: 320px) {
		padding: responsive-value(320, 44) responsive-value(320, 25);
		line-height: responsive-value(320, 33);

		svg {
			width: responsive-value(320, 24);
			height: responsive-value(320, 24);
		}
	}
}