@function responsive-value($resolution, $base-value) {
  $base-resolution: 1536;
  $ratio: $resolution / $base-resolution;
  $value: $base-value / 16;
  $responsive-value: $value * $ratio;
  @return #{$responsive-value}rem;
}

.main {
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 3.125rem 0.625rem;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;

  @media (max-width: 1024px) {
    max-width: responsive-value(1024, 960);
    padding: responsive-value(1024, 50) responsive-value(1024, 10);
  }

  @media (max-width: 768px) {
    max-width: responsive-value(768, 960);
    padding: responsive-value(768, 50) responsive-value(768, 10);
  };

  @media (max-width: 426px) {
    max-width: responsive-value(425, 960);
    padding: responsive-value(425, 50) responsive-value(425, 10);
  }
  @media (max-width: 375px) {
    max-width: responsive-value(375, 960);
    padding: responsive-value(375, 50) responsive-value(375, 10);
  }
  @media (max-width: 320px) {
    max-width: responsive-value(320, 960);
    padding: responsive-value(320, 50) responsive-value(320, 10);
  }
}

.title {
  display: block;
  max-width: 805px;
  align-self: flex-start;
  margin-top: 100px;

  font-size: 2rem;
  font-weight: 700;
  line-height: 2.375rem;
  color: var(--white);
  
  span {
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.375rem;
    color: var(--violet-300);
  }

  @media (max-width: 1024px) {
    max-width: responsive-value(1024, 805);
    margin-top: responsive-value(1024, 100);

    font-size: responsive-value(1024, 32);
    line-height: responsive-value(1024, 38);

    span {
      font-size: responsive-value(1024, 32);
      line-height: responsive-value(1024, 38);
    }
  }

  @media (max-width: 768px) {
    max-width: responsive-value(768, 805);
    margin-top: responsive-value(768, 100);

    font-size: responsive-value(768, 32);
    line-height: responsive-value(768, 38);

    span {
      font-size: responsive-value(768, 32);
      line-height: responsive-value(768, 38);
    }
  }

  @media (max-width: 426px) {
    max-width: responsive-value(425, 805);
    margin-top: responsive-value(425, 100);

    font-size: responsive-value(425, 32);
    line-height: responsive-value(425, 38);

    span {
      font-size: responsive-value(425, 32);
      line-height: responsive-value(425, 38);
    }
  }

  @media (max-width: 375px) {
    max-width: responsive-value(375, 805);
    margin-top: responsive-value(375, 100);

    font-size: responsive-value(375, 32);
    line-height: responsive-value(375, 38);

    span {
      font-size: responsive-value(375, 32);
      line-height: responsive-value(375, 38);
    }
  }
  
  @media (max-width: 320px) {
    max-width: responsive-value(320, 805);
    margin-top: responsive-value(320, 100);

    font-size: responsive-value(320, 32);
    line-height: responsive-value(320, 38);

    span {
      font-size: responsive-value(320, 32);
      line-height: responsive-value(320, 38);
    }
  }
}

.divider {
  width: 100%;
  margin: 20px 0px;
  border: 1px solid #302D3D;

  @media (max-width: 1024px) {
    margin: responsive-value(1024, 20) 0px;
  }

  @media (max-width: 768px) {
    margin: responsive-value(768, 20) 0px;
  }

  @media (max-width: 426px) {
    margin: responsive-value(425, 20) 0px;
  }

  @media (max-width: 375px) {
    margin: responsive-value(375, 20) 0px;
  }

  @media (max-width: 320px) {
    margin: responsive-value(320, 20) 0px;
  }

}

.loadingData {
  width: 100%;
  height: 100%;
  
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 60px;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 21px;

  width: 100%;

  @media (max-width: 1024px) {
    gap: responsive-value(768, 21);
  }

  @media (max-width: 768px) {
    gap: responsive-value(768, 21);
  }
  
  @media (max-width: 426px) {
    gap: responsive-value(425, 21);
  }

  @media (max-width: 375px) {
    gap: responsive-value(375, 21);
  }

  @media (max-width: 320px) {
    gap: responsive-value(320, 21);
  }

}