@function responsive-value($resolution, $base-value) {
	$base-resolution: 1536;
	$ratio: $resolution / $base-resolution;
	$value: $base-value / 16;
	$responsive-value: $value * $ratio;
	@return #{$responsive-value}rem;
}
@function responsive-valuePx($resolution, $base-value) {
	$base-resolution: 1536;
	$ratio: $resolution / $base-resolution;
	$responsive-value: $base-value * $ratio;
	@return #{$responsive-value}px;
}

.main {
	width: 100%;
	max-width: var(--max-width);
	height: 100%;
	min-height: calc(100vh - 210px);
	margin: 0 auto;
	margin-top: 100px;
	padding: 10px 20px;

	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-between;
	gap: 50px;

	@media (max-width: 1024px) {
		max-width: responsive-value(1024, 960);
		min-height: calc(100vh - responsive-value(1024, 268));
		padding: responsive-value(1024, 10) responsive-value(1024, 20);
		gap: responsive-value(1024, 50);
	};
	
	@media (max-width: 768px) {
		max-width: responsive-value(768, 960);
		min-height: calc(100vh - responsive-value(768, 340));
		padding: responsive-value(768, 10) responsive-value(768, 20);
		gap: responsive-value(768, 50);
	};

	@media (max-width: 414px) {
		max-width: 346px;
		min-height: calc(100vh - responsive-value(414, 310));
		padding: responsive-value(414, 10) responsive-value(414, 20);
		gap: responsive-value(414, 50);
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		margin-top: responsive-valuePx(414, 120);
		gap: responsive-value(414, 120);
	};


	@media (max-width: 376px) {
		max-width: responsive-value(375, 960);
		min-height: calc(100vh - responsive-value(375, 310));
		padding: responsive-value(375, 10) responsive-value(375, 20);
		gap: responsive-value(375, 50);
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		margin-top: responsive-value(375, 100);
		gap: responsive-value(375, 120);
	};

	@media (max-width: 320px) {
		max-width: responsive-value(320, 960);
		min-height: calc(100vh - responsive-value(320, 345));
		padding: responsive-value(320, 10) responsive-value(320, 20);
		gap: responsive-value(320, 50);
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		margin-top: responsive-value(320, 100);
		gap: responsive-value(320, 120);
	};
}

.header {
	width: 100%;
	max-width: var(--max-width);
	margin: 0 auto;
	margin-top: 50px;
	padding: 10px 20px;
	display: flex;
	align-items: flex-start;

	@media (max-width: 1024px) {
		max-width: responsive-value(1024, 960);
		padding: responsive-value(1024, 10) responsive-value(1024, 20);
		margin-top: responsive-value(1024, 50);
	};

	@media (max-width: 768px) {
		max-width: responsive-value(768, 960);
		padding: responsive-value(768, 10) responsive-value(768, 20);
		margin-top: responsive-value(768, 50);
	};

	@media (max-width: 414px) {
		max-width: 346px;
	};

	@media (max-width: 376px) {
		max-width: responsive-value(376, 960);
		padding: responsive-value(376, 10) responsive-value(376, 20);
		margin-top: responsive-value(376, 50);
	};

	@media (max-width: 320px) {
		max-width: responsive-value(320, 960);
		padding: responsive-value(320, 10) responsive-value(320, 20);
		margin-top: responsive-value(320, 50);
	};
}

.sigIn {
	width: 100%;
	max-width: 510px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	gap: 18px;

	@media (max-width: 1440px) {
		max-width: responsive-value(1440, 510);
		gap: responsive-value(1440, 18);
	};

	@media (max-width: 1024px) {
		max-width: responsive-value(1024, 510);
		gap: responsive-value(1024, 18);
	};

	@media (max-width: 768px) {
		max-width: responsive-value(768, 510);
		gap: responsive-value(768, 18);
	};

	@media (max-width: 414px) {
		max-width: 346px;
	};
}

.title {
	width: 100%;
	max-width: 717px;
	display: flex;
	flex-direction: column;
	gap: 8px;

	h1 {
		display: block;
		max-width: 717px;
		height: 132px;
		font-weight: 800;
		font-size: 3.4375rem;
		line-height: 120%;
		color: var(--white);
	}
	
	p {
		font-size: 1.25rem;
		line-height: 120%;
		color: var(--gray-200);
	}

	@media (max-width: 1440px) {
		max-width: responsive-value(1440, 717);
		gap: responsive-value(1440, 8);

		h1 {
			font-size: responsive-value(1440, 55);
			max-width: responsive-value(1440, 717);
			height: responsive-value(1440, 132);
		}

		p {
			font-size: responsive-value(1440, 20);
			line-height: 120%;
		}
	};

	@media (max-width: 1024px) {
		max-width: responsive-value(1024, 717);
		gap: responsive-value(1024, 8);

		h1 {
			font-size: responsive-value(1024, 55);
			max-width: responsive-value(1024, 717);
			height: responsive-value(1024, 132);
		}

		p {
			font-size: responsive-value(1024, 20);
		}
	};

	@media (max-width: 768px) {
		max-width: responsive-value(768, 717);
		gap: responsive-value(768, 8);

		h1 {
			font-size: responsive-value(768, 55);
			max-width: responsive-value(768, 717);
			height: responsive-value(768, 132);
		}

		p {
			font-size: responsive-value(768, 20);
		}
	};

	@media (max-width: 425px) {
		max-width: 717px;
		gap: 8px;

		h1 {
			font-size: responsive-value(960, 55);
			height: 140px;
		}

		p {
			font-size: responsive-value(960, 20);
		}
	};

	@media (max-width: 414px) {
		max-width: 717px;
		gap: 8px;

		h1 {
			font-size: 2.0625rem;
			max-width: 717px;
			height: 130px;
		}

		p {
			font-size: 1.25rem;
		}
	};

	@media (max-width: 376px) {
		max-width: 717px;
		gap: 8px;

		h1 {
			font-size: responsive-value(960, 55);
			max-width: responsive-value(960, 717);
			height: 130px;
		}

		p {
			font-size: responsive-value(960, 20);
		}
	};
}

.signInButton {
	width: 100%;
	max-width: 310px;
	height: 100%;
	max-height: 46px;
	padding: 12px 24px;
	border-radius: 6px;

	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;
	background-color: var(--red-700);
	
	font-size: 0.875rem;
	font-weight: 600;
	line-height: 160%;
	color: var(--white);
	
	cursor: pointer;
	transition: background-color 0.2s;

	&:hover {
		background-color: var(--red-900);
	}

	&:disabled {
		background-color: var(--red-900);
		cursor: not-allowed;
	}

	@media (max-width: 1024px) {
		max-width: responsive-value(1024, 310);
		max-height: responsive-value(1024, 46);
		padding: responsive-value(1024, 12) responsive-value(1024, 24);
		gap: responsive-value(1024, 8);

		font-size: responsive-value(1024, 14);
		line-height: responsive-value(1024, 29);

		svg {
			width: responsive-value(1024, 18);
			height: responsive-value(1024, 18);
		}
	}

	@media (max-width: 768px) {
		max-width: responsive-value(768, 310);
		max-height: responsive-value(768, 46);
		padding: responsive-value(768, 12) responsive-value(768, 24);
		gap: responsive-value(768, 8);

		font-size: responsive-value(768, 14);
		line-height: responsive-value(768, 29);

		svg {
			width: responsive-value(768, 18);
			height: responsive-value(768, 18);
		}
	}

	@media (max-width: 425px) {
		width: 100%;
		max-width: 310px;
		height: 100%;
		max-height: 46px;
		padding: 12px 24px;
		gap: 8px;

		font-size: responsive-value(425, 40);
		line-height: responsive-value(425, 39);

		svg {
			width: 18px;
			height: 18px;
		}
	};

	@media (max-width: 414px) {
		width: 100%;
		max-width: 310px;
		height: 100%;
		max-height: 46px;
		padding: 12px 24px;
		gap: 8px;

		font-size: 0.875rem;
		line-height: 2.4375rem;

		svg {
			width: 18px;
			height: 18px;
		}
	};

	@media (max-width: 376px) {
		width: 100%;
		max-width: 310px;
		height: 100%;
		max-height: 46px;
		padding: 12px 24px;
		gap: 8px;

		font-size: responsive-value(376, 40);
		line-height: responsive-value(376, 39);

		svg {
			width: 18px;
			height: 18px;
		}
	};
}

.banner {
	width: responsive-value(1440, 342);
	height: responsive-value(1440, 382);
	opacity: 0.5;

	@media (max-width: 1024px) {
		width: responsive-value(1024, 342);
		height: responsive-value(1024, 382);
	}

	@media (max-width: 768px) {
		width: responsive-value(768, 342);
		height: responsive-value(768, 382);
	}

	@media (max-width: 414px) {
		width: 342px;
		height: 382px;
	}

	@media (max-width: 376px) {
		width: responsive-value(960, 342);
		height: responsive-value(960, 382);
	}
}